
.nav-link{
    color:white !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    margin-right: 4px;
}
.nav-link:hover{
    color:black !important;
    font-weight:bold; 
    background-color: cyan;
    border-radius: 50px 30px ;

}
.navbar-brand:hover{
    font-weight: bold;
    color:black !important;
}
.fa-facebook:hover{
    margin: 2px; 
    color: rgb(88, 88, 209) !important;
}

.fa-linkedin:hover{
    margin: 2px; 
    color: rgb(138, 138, 211) !important;
}
.fa-instagram:hover{
    margin: 2px; 
    color: rgb(206, 77, 178) !important;
}
.fa-telegram:hover{
    margin: 2px; 
    color:rgb(152, 176, 182) !important;
}   
