{%load static %}
{% block body %}
{% include 'recruiternav.html' %}
<style>
    tr{
        text-align: center;
    }
</style>
<marquee style="background: grey;margin-top: 1%;">
    <p style="margin-top: .5%;color: white;font-weight:20;">View Added JObs</p>
</marquee>
<div class="container mt-2">
<table class="table table-hover mt-2" id="example">
    <thead>
        <tr style="background-color:darkkhaki;">
            <th>S.No.</th>
            <th>Title</th>
            <th>Creation Date</th>
            <th>Start Date</th>
            <th>Action1</th>
            <th>Action2</th>
        </tr>
    </thead>
    <tbody>
        {% for i in jl %}
        <tr  style="background-color:rgb(236, 250, 159);">
            <td>{{forloop.counter}}</td>
            <td>{{i.title}}</td>
            <td>{{i.creationdate}}</td>
            <td>{{i.start_date}}</td>
            <td><a href="{% url 'editjobdetail' i.id%}" class="btn btn-success" >Edit</a></td>
            <td><a href="{% url 'deletejob' i.id%}" class="btn btn-danger">Delete</a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>
</div>
{% endblock %}