{% load static %}
{% block body %}
{% include 'navigation.html' %}
<script>
    function checkpass()
    {
    if (document.signup.pwd.value!=document.signup.cpwd.value)
    {
    alert('password and confirm password not matching');
    document.signup.cpwd.focus();
    return false;
    }
    return true;
    }
</script>
<marquee style="background: grey;margin-top: 1%;">
    <p style="margin-top: .5%;color: white;font-weight:20;">Recruiter Sign Up</p>
</marquee>
<form  class="container" onsubmit="return checkpass();" name="signup" style="margin: 2% 10% 0% 10%;" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="form-row">
    <div class="form-group col-md-6">
        <label>First Name</label>
        <input type="text" class="form-control" name="fname" placeholder="First Name" required>
        <label>Contact No.</label>
        <input type="text" class="form-control" name="contact" placeholder="Enter Contact No" required>
        <label>Gender</label>
            <div class="custom-control custom-control-control-inline">
                <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="Male" required>
                    <label class="custom-control-label" for="customRadioInline1">Male</label>
            </div>
            <div class="custom-control custom-control-control-inline">
                <input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="Female">
                    <label class="custom-control-label" for="customRadioInline2">Female</label>
            </div>
        <label>Image</label>
        <input type="file" class="form-control" name="image" placeholder="Upload Image" required>
    </div>
    <div class="form-group col-md-6">
        <label>Last Name</label>
        <input type="text" class="form-control" name="lname" placeholder="Last Name" required>
        <label>Email</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email id" required>
        <label>Password</label>
        <input type="password" class="form-control" name="pwd" placeholder="Enter Password" required>
        <label>Confirm Password</label>
        <input type="password" class="form-control" name="cpwd" placeholder="Enter Confirm Password" required>
            
    </div>
    <div class="form-group col-md-12">
        <label>Company Name</label>
        <input type="text" name="company" class="form-control" placeholder="Enter Company Name" required>
    </div>
    </div>
    <input type="submit" value="submit" class="btn btn-primary" >
</form>
{% ifequal error "no" %}
<script>
    alert("Signup Successfully");
    window.location=('{% url 'recruiterlogin' %}')
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert("Something went wrong,try again...");
</script>
{% endifequal %}
{% endblock %}